/*
Theme Name:     Archives inspire - child theme
Theme URI:      http://www.nationalarchives.gov.uk/
Author:         The National Archives
Author URI:     http://www.nationalarchives.gov.uk/
Description:    Child theme for Archives Inspire
Template:       tna-base
Version:        0.1
License:        GNU General Public License
License URI:    license.txt
Text Domain:    tna-base
*/

/* Add custom CSS here to overwrite parent theme CSS */
main {
    background-color: #fff;
}

.super-heading {
    color: #fff;
    background-color: #008484;
    font-size: 3.3em;
    box-sizing: border-box;
    display: table;
    padding:0 15px;
    margin-top: 25px;
    text-transform: uppercase;
}

#breadcrumb-holder a {
    color: #fff;
}

h1.super-heading{
    margin-bottom: 0;
}

h2.super-heading {
    /*margin-bottom: 3em;*/
    margin-top: 0;
}

section:first-of-type>div.row>div.col-md-pull-4>p:first-of-type {
    font-size: 1.6em;
    font-family: "Bitter", "Open Sans", arial, serif;
    font-weight: 400;
    z-index: 2;
    letter-spacing: -.025em;
    line-height: 1.3em;
    margin-top: 20px;
    margin-bottom: 10px;
}

.tna-breadcrumb {
    margin-top: 0;
}

.editor-container {
    position: relative;
    padding: 15px 20px;
    margin-top: 1em;
    height: auto;
}

.editor-container>p:first-of-type{
    margin-bottom: 1em;
    font-family: "Bitter", "Open Sans", arial, serif;
    font-size: 1.6em;
}

.editor-container>p:last-of-type{
    margin-bottom: 1em;
}

.editor-container>p{
    margin-bottom: 2em;
}
.editor-container>p>a {
    background: #008484;
    color: #fff;
    padding: .5em;
    min-width: 24px;
}

.editor-container>p>a:hover {
    background: #FCE45C;
    color: #000;
    border: none;
}

.lightest-grey {
    background-color: #f3f3f3;
}

.lighter-grey {
    background-color: #eee;
}

.light-grey {
    background-color: #ddd;
}

.mid-light-grey {
    background-color: #999;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    margin-top: 30px;
    height: 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-container>p{
    margin: 0 0 .5em;
}

.breadcrumbs {
    display: inline-block;
    color: #FFF;
    padding: 3px 7px;
    background-color: #000;
    background-color: rgba(0,0,0,.5);
}

.banner {
    background-size: cover;
    background-position: center;
    min-height: 25.587em;
}

.brochure {
    margin-top: 20px;
    width: 25%;
}

.col-md-pull-6>div.wp-caption{
    margin-top: 20px;
}
.col-md-pull-6>div.wp-caption>a>img{
    width: 70%;
}

.wp-caption-text{
    font-size: 80%;
}
.wp-caption-text>a {
    color: #2A5DB0;
}

.brochure>small {
    color: #2A5DB0;
}

.parent_section {
    margin-bottom: 20px;
}

a.brochure:focus, a.carousel-control:focus{
    outline: #ebab00 solid 3px;
}

.pr-only {
    display: none;
}

/* Tabs Section */
.nav-pills>li.active>a, .nav-pills>li.active>a:focus {
    background-color: transparent;
    color: #6e6e6e;
}

.a-i-tabs-section {
    border-bottom: 5px solid #d6d6d6;
}

.nav>li>a {
    padding:10px 0;
}

.nav-pills .a {
    color: #6e6e6e;
}

.nav-pills>li>a {
    color: #000;
    background-color: transparent;
    font-size: 18px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover {
    background: transparent;
    cursor: pointer;
}

.nav-pills>li.active>a::after{
    content: "";
    position: absolute;
    top: 110%;
    left: 50%;
    z-index: 1000;
    border-top: 15px solid #d6d6d6;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    margin-left: -15px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav>li>a:focus, .nav>li>a:hover {
    background: transparent;
    color: #6e6e6e;
    cursor: pointer;
    font-size: 18px;
}

.nav-pills>li {
    border-top: 2px solid #fff;
    text-align: center;
    margin-right: 65px;
    margin-bottom: 0;
    padding-left: 10px;
    padding-right: 10px;
}
.nav-pills>li:hover {
    border-top:2px solid #d6d6d6;
    background: transparent;
    border-radius: 0;
    -webkit-transform: scale(1);
    /*transition: 0.5s;*/
    -webkit-transform-origin: 50% 100%;
    cursor: pointer;
}

.nav-pills>li::before {
    visibility: hidden;
    transform: scaleX(1);
}

.arrow-down {
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #f00;
}

.tab-pane {
    padding-top:40px;
}

.tab-pane>.col-md-6>.video-container {
    margin-top: 0;
}

.tab-pane>.col-md-8>p>strong, .tab-pane>.col-md-8>p>span>strong, .tab-pane>.col-md-6>p>strong, .tab-pane>.col-md-6>p>span>strong {
    font-size: 1.8em;
    font-weight: 700;
    clear: right;
    color: #009999;
    line-height: 1.1em;
}

.tab-pane>.col-md-12>p:first-of-type, .tab-pane>.col-md-6>p:first-of-type {
    color: #009999;
    font-size: 1.2em;
}

.tab-pane>.col-md-12>ul, .tab-pane>.col-md-6>ul {
    list-style: none;
    display: inline;
    width: 50%;
    float: left;
    clear: right;
}
.tab-pane>.col-md-12>ul>li:first-child, .tab-pane>.col-md-6>ul>li:first-child {
    list-style: none;
    /*width: 100%;*/
    margin: 0 auto;
    position: relative;
    font-size: 20px;
    border-bottom: 2px dashed #d6d6d6;
    padding: 0 0 5px;
    font-family: "Bitter", "Open Sans", arial, serif;
    text-align: center;
}

.tab-pane>.col-md-12>ul>li:nth-child(2n), .tab-pane>.col-md-6>ul>li:nth-child(2n) {
    /*width: 100%;*/
    text-align: center;
    display: block;
    font-size: 40px;
    font-weight: 600;
    color: #008484;
    font-family: "Bitter", "Open Sans", arial, serif;
    text-align: center;
    margin-bottom: 0;
}

.tab-pane>.col-md-12>ul>li:nth-child(3n), .tab-pane>.col-md-6>ul>li:nth-child(3n) {
    line-height: 1.6em;
    margin: 0 0 1.5em;
    font-size: 16px;
    font-family: "Bitter", "Open Sans", arial, serif;
    text-align: center;
    list-style: none;
}

.a-i-tabs {
    padding-bottom: 20px;
}

.highlight-p {
    font-size: 1.2em;
    color: #008484;
}

.highlight-p span {
    font-size: 2em;
    font-weight: 400;
    clear: right;
}


/* Tabs Section */



/* Twitter Bootstrap – Carousel Only CSS */
.carousel {
    position: relative;
}
.carousel-inner {
    position: relative;
    overflow: hidden;
    width: 100%;
}
.carousel-inner > .item {
    display: none;
    position: relative;
    -webkit-transition: 0.6s ease-in-out left;
    transition: 0.6s ease-in-out left;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    line-height: 1;
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
    display: block;
}
.carousel-inner > .active {
    left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
    position: absolute;
    top: 0;
    width: 100%;
}
.carousel-inner > .next {
    left: 100%;
}
.carousel-inner > .prev {
    left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
    left: 0;
}
.carousel-inner > .active.left {
    left: -100%;
}
.carousel-inner > .active.right {
    left: 100%;
}
.carousel-control {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 15%;
    opacity: .5;
    filter: alpha(opacity=50);
    font-size: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.carousel-control.left {
    background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.5) 0), color-stop(rgba(0, 0, 0, 0.0001) 100%));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0, rgba(0, 0, 0, 0.0001) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
}
.carousel-control.right {
    left: auto;
    right: 0;
    background-image: -webkit-linear-gradient(left, color-stop(rgba(0, 0, 0, 0.0001) 0), color-stop(rgba(0, 0, 0, 0.5) 100%));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0, rgba(0, 0, 0, 0.5) 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
}
.carousel-control:hover,
.carousel-control:focus {
    outline: none;
    color: #fff;
    text-decoration: none;
    opacity: .9;
    filter: alpha(opacity=90);
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
    position: absolute;
    top: 50%;
    z-index: 5;
    display: inline-block;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
    left: 50%;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
    right: 50%;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    font-family: serif;
}
.carousel-control .icon-prev:before {
    content: '\2039';
}
.carousel-control .icon-next:before {
    content: '\203a';
}
.carousel-indicators {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 15;
    width: 60%;
    margin-left: -30%;
    padding-left: 0;
    list-style: none;
    text-align: center;
}
.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    border: 1px solid #fff;
    border-radius: 10px;
    cursor: pointer;
    background-color: #000 \9;
    background-color: rgba(0, 0, 0, 0);
}
.carousel-indicators .active {
    margin: 0;
    width: 12px;
    height: 12px;
    background-color: #ffffff;
}
.carousel-caption {
    position: absolute;
    left: 15%;
    right: 15%;
    bottom: 20px;
    z-index: 10;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.carousel-caption .btn {
    text-shadow: none;
}
@media screen and (min-width: 768px) {
    .carousel-control .glyphicon-chevron-left,
    .carousel-control .glyphicon-chevron-right,
    .carousel-control .icon-prev,
    .carousel-control .icon-next {
        width: 30px;
        height: 30px;
        margin-top: -15px;
        margin-left: -15px;
        font-size: 30px;
    }
    .carousel-caption {
        left: 20%;
        right: 20%;
        padding-bottom: 30px;
    }
    .carousel-indicators {
        bottom: 20px;
    }
}

/* End Twitter Bootstrap – Carousel Only CSS */


section.a-i-carousel{
    background-color: #cd5806;
}

.carousel-text{
    color: #fff;
    margin: 4em 2em 2em;
}

.carousel-text>p>a {
    color: #fff;
}

.carousel-inner>.item>.col-md-6 {
    padding-left: 0;
    padding-right: 0;
}

span.case-study {
    font-family: Bitter,"Open Sans",arial,serif;
    font-weight: 400;
    font-size: 1.6em;
    z-index: 2;
    letter-spacing: -.025em;
}

section.a-i-carousel>.container {
    margin:0;
}

.full-width {
    width: 100%;
}

.carousel-text>p>a {
    text-decoration: underline;
}

.carousel-text>p>a:hover {
    text-decoration: none;
}

.carousel-control.left,.carousel-control.right  {
    background-image: none;
}

a.left.carousel-control, a.right.carousel-control {
    width: 32px;
    margin: 20px;
    height: 32px;
    background-color: #405480;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    display: inline-block;
    color: #fff;
}

a.left.carousel-control>span, a.right.carousel-control>span {
    color: #fff;
}

a.right.carousel-control {
    left: 40px;
}

.slider-controller{
    padding: 25px;
}

.list-inline>li{
    margin: 0;
    padding: 0 1em 0 1.5em;
    list-style-image: none;
    background: url(../tna-base/img/list-link-bullet.png) left center no-repeat;
}

.breadcrumb{
    margin-top: 10px;
    margin-bottom: 0;
    background-color: transparent;
    padding-left: 0;
}

.breadcrumb>.row>.col-md-12>ul {
    margin: 0;
}

.list-inline>li>a {
    color: #2A5DB0;
}

@media (max-width: 1024px) {
    .nav-pills {
        width: 100%;
    }
    .nav-pills>li.active, .nav-pills>li.active:hover {
        background-color: #008484;
        width: 48.5%;
        display: inline-block;
        margin: 0 5px 5px 0;
    }

    .nav-pills>li.active>a, .nav-pills>li.active>a:hover{
        color: #fff;
    }
    .nav-pills>li{
        width: 48.5%;
        display: inline-block;
        margin: 0 5px 5px 0;
        background-color: #d6d6d6;
    }

    .nav-pills>li>a {
        color: black;
    }
    .nav-pills>li.active>a::after {
        display: none;
    }
    .nav-pills>li>a:hover {
        color: #6d6d6d;
        border: none;
    }
    .nav-pills>li:hover{
        background-color: #d6d6d6;
        border-top: none;
    }

    .nav-pills>li+li {
        margin-left: 0;
    }
    .nav-pills>li {
        border-top:none;
    }
    .tab-pane>.col-md-12>ul, .tab-pane>.col-md-6>ul {
        float: none;
    }
    .full-width {
        width:100%;
    }
}

@media (max-width: 650px) {
    .super-heading {
        font-size: 2em;
    }
    .nav-pills>li, .nav-pills>li.active, .nav-pills>li.active:hover{
        width: 100%;
    }
    .carousel-text {
        margin-left: 3em;
        margin-right: 3em;
    }
}

@media print {
    .banner {
        height: 200px;
    }
    .super-heading {
        margin: 0;
    }
    .tab-content>.tab-pane {
        display: block;
    }
    .carousel-inner > .item {
        display: block;
    }
    .nav-pills>li.active>a::after {
        display: none;
    }
    .pr-only {
        display: block;
    }
    .a-i-tabs-section {
        display: none;
    }
    .carousel-control>span {
        display: none;
    }
}

/*No JS Stuff */
.no-js .tab-content>.tab-pane {
    display: block;
}
.no-js .carousel-inner > .item {
    display: block;
}
.no-js .nav-pills>li.active>a::after {
    display: none;
}
.no-js .a-i-tabs-section {
    display: none;
}
/*No JS Stuff */